# Dependencies
node_modules/
.pnpm-store/

# Build outputs
out/
dist/
*.tsbuildinfo

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Optional
*.vsix
coverage/
.turbo/
